@model List<Product>



    <style>
    #selectAll {
        transform: scale(1.5);
        margin-right: 5px;
    }

    .recordCheckbox {
        transform: scale(1.5);
        margin-right: 5px;
    }

    input[type="checkbox"]:hover {
        background-color: #f0052c;
    }

    #Deletebtn {
        display : none;
    }

    #Editbtn {
        display : none;
    }

    .btn-group-sm .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
    </style>


<div class="card shadow mb-5">
    <div class="card-header bg-secondary">
        <div class="container">
            <idv class="row pt-4 pb-2">
                <div class="col-md-12">
                    <h2 class="text-light text-center">
                        Product List
                    </h2>
                </div>                
            </idv>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 py-2 pb-2 btn-group">
                <a asp-controller="Products" asp-action="Upsert">
                    <i title="Add New Product" id="Addbtn" class="btn btn-dark bi bi-plus-square mx-1" onclick="AddFunction()"></i>
                </a>
                <a>
                    <i title="Edit" id="Editbtn" class="btn btn-success bi bi-pencil-square mx-1" onclick="EditFunction()"></i>
                </a>
                <a>
                    <i title="Delete" id="Deletebtn" class="btn btn-danger bi bi-trash mx-1" onclick="DeleteFunction()"></i>
                </a>
            </div>
            <div class="col-md-6 text-end pt-2 pb-2">
                <a asp-controller="Products" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Add New Product
                </a>
            </div>
        </div>
        <table id="tbldata" class="table table-bordered table-striped shadow" style="width:100%">
            <thead class="bg-gradient">
                <tr>  
                   @*  <th class="text-center">
                        <label>
                            <input type="checkbox" id="selectAll" title="Select All"/>
                        </label>
                    </th> *@
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>            
        </table>
@*         <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-end pt-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary"> Back to Home Page</a>
            </div>
        </div> *@
    </div>
</div>

<script>
    $(document).ready(function () {
        loaddatatable();
    });
</script>
@* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    function updateButtonVisibility() {
        var checkboxes = document.querySelectorAll('.recordCheckbox');
        var button = document.getElementById('Deletebtn');
        var EditButton = document.getElementById('Editbtn');

        // Check if any checkbox is selected
        var anyCheckboxSelected = Array.from(checkboxes).filter(checkbox => checkbox.checked);

        // Update button visibility based on checkbox selection
        button.style.display = anyCheckboxSelected.length > 0 ? 'block' : 'none';
        EditButton.style.display = anyCheckboxSelected.length === 1 ? 'block' : 'none';
    }

    $("#selectAll").change(function () {
        $(".recordCheckbox").prop('checked', $(this).prop("checked"));
        updateButtonVisibility();
    });

    $(".recordCheckbox").change(function () {
        var select = document.querySelectorAll(".recordCheckbox");
        var selectAll = document.getElementById("selectAll");
        var cnt = select.length;
        var cntcheck = 0;

        for (var i = 0; i < cnt; i++) {
            if (select[i].checked) {
                cntcheck += 1;
            }
            else {
                cntcheck -= 1;
            }
        }
        
        if (cnt == cntcheck) {
            if (!selectAll.checked) {
                $("#selectAll").prop('checked', true);;
            }
        }
        else{
            if (selectAll.checked) {
                $("#selectAll").prop('checked', false);
            }
        }
        updateButtonVisibility();
    })

    function AddFunction(){
        var url = '/Category/Create'
        window.location.href = url;
    }

    function EditFunction(){
        var checkbox = document.querySelectorAll('.recordCheckbox');
        var Ids = [];

        for (var i = 0; i < checkbox.length; i++) {
            if (checkbox[i].checked) {
                Ids.push(checkbox[i].id);
            }
        }
        var url = '/Category/Edit/' + Ids;
        window.location.href = url;
    }
    function getSelectedRecordIds() {
        var checkboxes = document.querySelectorAll('.recordCheckbox:checked');
        var selectedRecordIds = Array.from(checkboxes).map(checkbox => checkbox.getAttribute('data-record-id'));
        return selectedRecordIds;
    }
    function DeleteFunction() {
        var checkbox = document.querySelectorAll('.recordCheckbox');

        var Ids = [];

            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    Ids = checkbox[i].id;
                }
            }
            var url = '/Category/Delete/' + Ids;
            window.location.href = url;
    }
</script>
 *@
