
@if(TempData["Success"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@TempData["Success"]</strong>
        <span class="btn btn-close" onclick="closealert()"></span>
    </div>

    <script>
        function closealert() {
            $(".alert").alert('close')
        }

        setTimeout(function(){
            closealert()
        }, 5000);
    </script>
}


@if(TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["Error"]</strong>
        <span class="btn btn-close" onclick="closealert()"></span>
    </div>

    <script>
        function closealert() {
            $(".alert").alert('close')
        }

        setTimeout(function () {
            closealert()
        }, 5000);
    </script>
}

