@model Category


<div class="card mt-5">
    <div class="card-header bg-danger">
        <div class="row">
            <h2 class="text-light text-center">Delete Category</h2>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="border p-3 mt-4">
                <input asp-for="Id" hidden />
                <div class="form-floating shadow">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" required />
                    <label asp-for="Name" class="p-1"></label>
                </div>
                <div class="form-floating shadow mt-3">
                    <input asp-for="DisplayNumber" disabled class="form-control border-0 shadow" required />
                    <label asp-for="DisplayNumber" class="p-1"></label>
                </div>
                <div class="row mt-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


